

/*  Layout */
body {
  display: flex;
  background: #000000;
}
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  &>.fluid.container {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}

/* menu */
.ui.toolBar.vertical.menu {
  border-radius: 0;
  margin: 0;
  border-top: 0;
  box-shadow: none;
  &>.item {
    border-radius: 0;
  }
}


/* scene */
#boardCanvas {
  flex:1
}

