

/*  Layout */
body {
  display: flex;
}
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  &>.fluid.container {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}

/* menu */
.ui.toolBar.vertical.menu {
  border-radius: 0;
  border-top: 0;
  box-shadow: none;
  margin: auto 0;
  &>.item {
    border-radius: 0;
  }
}


/* scene */
#mainScene {
  position: relative;
  display: flex;
  flex-direction: row;
  background: #474747;
  flex:1
}
#boardCanvas {
  flex:1
}

#helperCanvas {
  position: absolute;
  right: 10px;
  top: 10px;
}
